<!DOCTYPE html>
<html>

  {% include home_head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div style = "width:66%; margin: auto">
        <div style = "float: left">
        <img class="profile-image" style="float:left; padding: 0px 15px 0px 0px" src="{{site.url}}{{site.baseurl}}/images/doodle.png" alt="Bobby"></img>
        </div>
          <div style="display:table-cell; vertical-align:middle; height: 230px">
          <h2 style = "text-align:center">Who Am I?</h2>
          <p style = "text-align:center">
            Hi y'all! I'm Bobby, and I am a postbac psychology researcher at <a href="https://psychology.stanford.edu/">Stanford University</a>. I am the current Lab Manager in the <a href="https://langcog.stanford.edu/">Language
            & Cognition Lab</a> with Prof. Michael Frank. I graduated from Stanford in 2022 with a B.S. in <a href="https://symsys.stanford.edu/">Symbolic Systems</a>
            concentrated in Cognitive Science. As an undergrad, I was an Honors Student and Undergrad RA in the <a href="http://sll.stanford.edu/">Social
            Learning Lab</a> with Prof. Hyowon Gweon and Aaron Chuey.
          </p>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div style = "width:66%; margin: auto">
        <h3 style = "text-align:center">Research Interests</h3>
        <p>
          There is vast heterogeneity in developmental experience - How do we account for this variability in development? Broadly, I am 
          interested in characterizing early variability and its effects on learning and cognitive development. More specifically, I am 
          interested in unpacking this heterogeneity to better understand 1) the structure of our early learning environments, 2) how we 
          reason about and adapt our learning strategies to a given context, and 3) the effects of this interaction on developmental outcomes. 
          I aim to take an interdisciplinary approach combining behavioral and computational methods from cognitive science, developmental 
          science, and education. 
        </p>
        <h3 style = "text-align:center">"My Village"</h3>
        <p>
          As a First-Generation college graduate and researcher forever trying to find my way in this field, I feel so grateful
          to have been supported by a network of such brilliant, kind, and inspiring mentors, collaborators, and peers. "It takes a village",
          and I owe so much to my village for teaching and uplifting me. Forever celebrating and thanking my village: <a href="https://profiles.stanford.edu/aaron-chuey">Aaron Chuey</a>, <a href="https://web.stanford.edu/~hyo/Home.html">Hyowon Gweon</a>,
          <a href="https://web.stanford.edu/~mcfrank/">Michael Frank</a>, <a href="https://www.brialong.com/">Bria Long</a>, <a href="https://profiles.stanford.edu/virginia-marchman">Virginia Marchman</a>, <a href="https://vboyce.github.io/">Veronica Boyce</a>, <a href="https://profiles.stanford.edu/247160">Alvin Tan</a>, <a href="https://profiles.stanford.edu/rebecca-zhu">Rebecca Zhu</a>, 
          <a href="https://profiles.stanford.edu/aneesa-conine-nakano">Aneesa Conine-Nakano</a>, <a href="https://profiles.stanford.edu/sarah-tung">Sarah Tung</a>, <a href="https://josephouta.com/">Joseph Outa</a>, <a href="https://profiles.stanford.edu/grace-keene">Grace Keene</a>, <a href="https://github.com/FredoOrnelas">Fredo Ornelas</a>, & <a href="https://profiles.stanford.edu/marianne-lacsamana">Mar Lacsamana</a>
        </p>
        {{ content }}
        </div>
      </div>
    </div>
    <div style="text-align: center">
    {% include footer.html %}
    </div>
  </body>

</html>
